In [154]:
import pandas as pd

In [155]:
import sqlite3

### Windspeed dataframe

In [192]:
df_windspeed = pd.read_csv('../data/clean/wind_speed.csv')
df_temperature = pd.read_csv('../data/clean/temperature.csv')
df_precipitation = pd.read_csv('../data/clean/precipitation.csv')

df_wildfires = pd.read_csv('../data/clean/wildfires.csv')

In [193]:
df_windspeed_melted = pd.melt(
    df_windspeed, id_vars=['year', 'station_id', 'station_name'], var_name='seasons', value_name='windspeed'
)

df_temperature_melted = pd.melt(
    df_temperature, id_vars=['year', 'station_id', 'station_name'], var_name='seasons', value_name='temperature'
)

df_precipitation_melted = pd.melt(
    df_precipitation, id_vars=['year', 'station_id', 'station_name'], var_name='seasons', value_name='precipitation'
)

### Create SQL connection and analyze

In [182]:
## Create a connection
conn = sqlite3.connect('new_df.db')

In [183]:
%sql sqlite:///new_df.db

'Connected: @new_df.db'

In [184]:
# This is a code cell
# You can load the SQL extension here
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Create table for each database

In [194]:
%%sql

drop table if exists windspeed;
drop table if exists temperature;
drop table if exists precipitation;
drop table if exists wildfires;

   sqlite:///dataframe.db
 * sqlite:///new_df.db
Done.
Done.
Done.
Done.

[]

In [195]:
df_windspeed_melted.to_sql('windspeed', conn)
df_temperature_melted.to_sql('temperature', conn)
df_precipitation_melted.to_sql('precipitation', conn)
df_wildfires.to_sql('wildfires', conn)

7343

### Analysis

In [190]:
%%sql

Select *
from windspeed
where windspeed <0
;

   sqlite:///dataframe.db
 * sqlite:///new_df.db
Done.

[]

In [198]:
%%sql

select year, count (distinct NFIREID), 
from wildfires
group by year;

   sqlite:///dataframe.db
 * sqlite:///new_df.db
Done.

[(1986, 124),
 (1987, 170),
 (1988, 89),
 (1989, 124),
 (1990, 128),
 (1991, 88),
 (1992, 85),
 (1993, 51),
 (1994, 119),
 (1995, 63),
 (1996, 46),
 (1997, 20),
 (1998, 162),
 (1999, 82),
 (2000, 81),
 (2001, 35),
 (2002, 40),
 (2003, 167),
 (2004, 148),
 (2005, 57),
 (2006, 247),
 (2007, 297),
 (2008, 363),
 (2009, 544),
 (2010, 348),
 (2011, 107),
 (2012, 296),
 (2013, 305),
 (2014, 318),
 (2015, 384),
 (2016, 208),
 (2017, 308),
 (2018, 636),
 (2019, 145),
 (2020, 107),
 (2021, 439),
 (2022, 380)]